* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/cork-wallet.png");
}

img {
	max-width: 100%;
	height: auto;
}

.tabs {
	width: 1170px;
	display: table;
	margin: 0 auto;
}

.tabs .tab-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
	display: table;
	background: rgba(255, 102, 0, 0.64);
}

.tabs .tab-navigation li {
	margin: 0;
	padding: 0;
	float: left;
}

.tabs .tab-navigation .lb-none a {
	border-left: none;
}

.tabs .tab-navigation li a {
	margin: 0;
	padding: 10px 15px;
	display: block;
	text-decoration: none;
	color: #fff;
	border-left: 1px solid #fff;
}

.tabs .tab-navigation li a:hover {
	background: #cc0000;
}


.tabs .tab-navigation li a.selected,
.tabs .tab-navigation li a.selected:hover {
	background: #cc0000;
}


.items .sub-item {
	padding: 10px 15px 0 0;
}